<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Blogger.com{% endblock %}</title>
</head>
<body>

{% if request.user.is_authenticated %}
<p>Welcome, {{ request.user.username }}! <a href="{% url 'logout' %}?next={{ request.path }}">Log out</a></p>
{% else %}
<p>Welcome, stranger!
    Please <a href="{% url 'login' %}?next={{ request.path }}">log in</a>
    or <a href="{% url 'signup' %}">sign up</a>
</p>
{% endif %}
<hr/>

{% block content %}{% endblock %}

</body>
</html>