{% extends 'blogger/base.html' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block content %}

<h1>{{ blog.title }}</h1>

{% if blog.author_id == request.user.id %}

<form action="{% url 'create_post' blog.id %}" method="POST">
    {% csrf_token %}
    <input type="text" name="subject" maxlength="80" size="80" placeholder="Subject" value="{{ subject }}"/>
    <br />
    <textarea name="text" maxlength="4096" rows="10" cols="80" placeholder="Post text">{{ text }}</textarea>
    <br />
    <input type="submit" value="Create post" />
</form>

{% if error %}
<p style="color:red;">{{ error }}</p>
{% endif %}

<h2>Posts:</h2>

{% endif %}

<ul>
    {% for post in posts %}
    <li>
        <i>{{ post.created_at }}</i> {{ post.subject }}<br />
        <p>{{ post.text }}</p>
    </li>
    {% endfor %}
</ul>

{% endblock %}