{% extends 'blogger/base.html' %}

{% block content %}

<h3>
    <ul>
        {% for blog in blogs %}
            <li><a href="{% url 'blog_by_id' blog.id %}">{{blog.title}}</a> ({{ blog.num_posts }} posts)</li>
        {% endfor %}
    </ul>
</h3>

{% endblock %}