<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
</head>
<body>
<form method="post">
    {% csrf_token %}
    <table>{{ form }}</table>
    <input type="submit" value="Sign Up">
</form>
</body>
</html>